<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<jenkins>
  <jenkins_xml>
    <enabled>true</enabled>
    <!-- PLEN-1251 : multiple jenkins.xml depending on branch name -->
    <!-- mappings of branches to customized jenkins.xml
    <mappings>
      <mapping>
        <branch>master</branch>
        <file>jenkins.d/jenkins.release.xml</file>
      </mapping>
      <mapping>
        <branch>bugfix/.*</branch>
        <file>jenkins.d/jenkins.bugfix.xml</file>
      </mapping>
      <mapping>
        <branch>develop</branch>
        <file>jenkins.d/jenkins.dev.xml</file>
      </mapping>
    </mappings>
    -->
  </jenkins_xml>
  <jdk>JDK8u25</jdk>
  <sonar_branch_override>any</sonar_branch_override>
</jenkins>
